[submodule "server"]
	path = server
	url = https://github.com/hungvult/english_learning_platform-server
[submodule "client"]
	path = client
	url = https://github.com/hungvult/english_learning_platform-client
